{% extends 'user_base.html' %}
{% block body %}
<h1 style="text-align:center; margin:4.5rem 0 2rem 0; font-weight:500; font-size: 60px; text-shadow:0 0 0.1em rgb(255, 255, 255)">Cart:</h1>
<div class="d-flex justify-content-center flex-wrap">
    {% for i in range(items_in_cart) %}
    <div class="card" style="width: 14rem; margin:0; border: 1px solid black">

            <img class="mb-3 img-fluid" alt="..." style="width: auto; height: 150px;" src="{{ url_for('static',filename=Products_purchased['product'][i].photo_dest_path) }}" alt="{{ Products_purchased['product'][i].product }}">
            <div class="card-body">
                <h5 class="card-title">{{ Products_purchased['product'][i].product }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Quantity: {{ Products_purchased['quantity'][i] }}</li>
                <li class="list-group-item">Unit Price:&#8377 {{Products_purchased['product'][i].price}} {{Products_purchased['product'][i].unit}}</li>
              <li class="list-group-item">Discount:{{discount*100}} %</li>
                <li class="list-group-item">Price:&#8377 {{ Products_purchased['quantity'][i] *Products_purchased['product'][i].price*(1-discount)}}</li>
            </ul>
        </a>
        <div class="card-body">
            <form id="remove_from_cart_form_{{ Products_purchased['product'][i].id }}" action="{{ url_for('remove_from_cart', product_id=Products_purchased['product'][i].id) }}" method="post">
                <button type="submit" class="btn btn-danger" form="remove_from_cart_form_{{ Products_purchased['product'][i].id }}">Remove</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card text-center" style="width: 100%; border: 1px solid black">
    <div class="card-body">
        <h5 class="card-title">Total:</h5>
        <p class="card-text"> &#8377 {{Total_cost}}</p>
        {% if items_in_cart != 0 %}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Clear Cart
            </button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                Checkout
            </button>
        {% endif %}

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">This will clear all items in your cart!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger" href="{{ url_for('clear_cart') }}">Clear Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for shopping at Grocery Store!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Click 'Submit' to complete your order. Your card will be charged and items will be shipped.
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="{{url_for('order_cart',amount=Total_cost)}}">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock %}